h1,
h2,
h3,
h4,
h5,
h6,
p {
	margin: 0;
}

h1 {
	font-size: 28px;
	line-height: 40px;
	font-weight: 500;
	letter-spacing: 0.25px;
}
h5 {
	font-size: 14px;
	line-height: 24px;
	font-weight: bold;
	letter-spacing: 0.3px;
}
p {
	font-size: 13px;
	line-height: 20px;
	letter-spacing: 0.25px;
}

.error-message {
	color: var(--color-assistitive-red-active);
	font-size: 11px;
	text-align: start;
}
